/* / Fonts / */
.raleway-normal , body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
}
body{
    margin: 0;
    scroll-behavior: smooth;
}

/*--------------------
 ----HERO BAnner----- 
----------------------*/
.hero-section{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}
.button-universal{
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button-universal:hover{
    transform: scale(1.1);
}
.button-universal a{
    text-decoration: none;
    color: white;
}
.hero-nav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 50px 0;
}
.hero-nav nav ul{
    list-style: none;
}
.hero-nav nav ul a{
    color: #4E47FF;
    text-decoration: none;
    font-size: 40px;
    font-weight: 800;
}
.hero-content{
    text-align: center;
    max-width: 905px;
    margin: 150px auto;
}
.hero-content h1{
    font-size: 65px;
    color: #252432;
}

/*--------------------
 ----Main Content----- 
----------------------*/

.action{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 116px auto;
}
.left{
    padding: 62.5px 0;
    text-align: left;
    row-gap: 23px;
    width: 517px;
}
.left h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.left p{
    font-size: 24px;
    font-weight: normal;
    color: #25243277;
}
.right img{
    border-radius: 48px;
}

/* Ratio Page */

.ratio{
    margin: 0 auto 137px;
    border-radius: 24px;
    text-align: center;
    background-color: #4d47ff23;
    padding: 50px 80px;
    width: 62vw;
}
.per-head h2{
    font-size: 38px;
    color: #252432;
    font-weight: bold;
}
.ratio-per{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.per h2{
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
}
.per p{
    font-size: 20px;
    font-weight: normal;
    color: #00000074;
    margin: 0;
}

/* Review PAge  */


.reviews-page{
    margin: 0 200px 140px;
    align-items: center;

}
.review-head{
    text-align: center;
}
.review-head h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.reviews{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}

.review{
    font-weight: normal;
    padding: 24px;
    width: 20vw;
    border-radius: 14px;
    box-shadow: 0 4px 100px #F2EDED;
    background-color: rgba(255, 255, 255, 0.509);
}
.comment{
    padding: 24px 0;
}
.comment h4 {
    color: #1E1E1E;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}
.comment p{
    color: #1E1E1E;
    font-size: 18px;
}

.reviewer-details{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviewer-details img{
    border-radius: 50%;

}
.reviewer-info h5{
    margin: 0 0 7px 0;
    color: #757575;
    font-size: small;
    font-weight: bold;
}
.reviewer-info p{
    margin: 0;
    color: #B3B3B3;
    font-size: smaller;
}

/* Flex-banner */

.flexive{
    width: fit-content;
    text-align: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 4px 100px #F2EDED;
    padding: 71px 150px;
    margin: auto;
}

.flexive h2{
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}
.flexive p{
    color: #B3B3B3;
    font-size: smaller;
    font-weight: normal;
    margin: 20px 0;
}
.flexive img{
    display: block;
    margin: auto;
    border-radius: 48px;
    padding: 20px 0;
}

/* Contact Page  */
.contact-page{
    display: flex;
    margin: 50px 190px;
    padding: 71px 0;
}
.left-hand h2{
    font-size: 97px;
    font-weight: bold;
}
.right-hand form{
    display: block;
    text-align: left;
}
.right-hand form input,#message{
    padding: 20px 32px;
    margin: 10px 0;
    width: 350px;
    border: 2px solid #d6dded82;
    border-radius: 10px;
    box-shadow: 0 4px 100px #F2EDED;
}
#message{
    height: 80px;
    font-weight: normal;
    resize: none;
}
.btn-touch{
    width: 418px;
}

/* Footer  */
footer{
    border-top: 2px solid #d6dded82;
    box-shadow: 0 -10px 20px -10px #F2EDED;
    display: flex;
    align-items: center;

}
.footer-content{
    text-align: center;
    margin: 100px auto;
    padding: auto;
    width: 35vw;
}
.footer-content a,p{
    text-decoration: none;
    color: #8987A1;
    font-weight: normal;
}
.footer-content>a {
    font-size: 100px;
    color: #4E47FF;
    font-weight: 700;
}
.page-links li{
    list-style: none;
    display: inline;
    margin: 10px;
}
.page-links{
    margin-top: 25px;
}