/* .open-sans-bolder , body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */
.raleway-normal , body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
}
body{
    margin: 0;
}

/*--------------------
 ----HERO BAnner----- 
----------------------*/
.hero-section{
    background-image: url('../Assets/Hero-bg.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.button-universal{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
}
.button-universal a{
    text-decoration: none;
    color: white;
}
.hero-nav nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 50px 0;
}
.hero-nav nav ul{
    list-style: none;
}
.hero-nav nav ul a{
    color: #4E47FF;
    text-decoration: none;
    font-size: 34px;
}
.hero-content{
    text-align: center;
    max-width: 905px;
    margin: 158px auto 152px;
}
.hero-content h1{
    font-size: 65px;
    color: #252432;
}

/*--------------------
 ----Main Content----- 
----------------------*/

